label{
  color: white;
  width: 183px;
  height: 44px;
  border-radius: 21.5px;
  background-color: lightskyblue;
  padding: 8px 16px;
}
.dropZone{
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
