<div id="registration-div" style="background-color: powderblue">
  <div fxFlex="20"></div>
  <div fxFlex="60">
    <mat-card>
      <h2 style="text-align: center">Registration Form</h2>
      <form [formGroup] = registrationForm  (ngSubmit)="submitRegistration()">
<!--      <form [formGroup] = registrationForm>-->
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <mat-form-field class="col-4">
          <input  matInput type="email" placeholder="Email" formControlName="email">
          <mat-error *ngIf="registrationForm.controls['email'].errors?.required">This field is Required</mat-error>
          <mat-error *ngIf="registrationForm.controls['email'].errors?.pattern">Enter a valid email</mat-error>
          </mat-form-field>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <mat-form-field class="col-4">
          <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="registrationForm.controls['password'].errors?.required">This field is Required</mat-error>
            <mat-error *ngIf="registrationForm.controls['password'].errors?.minlength">This field is too short</mat-error>
          </mat-form-field>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <mat-form-field class="col-4">
              <input matInput  type="password" placeholder="Re-type Password" formControlName="confirmPassword">
              <mat-error *ngIf="registrationForm.controls['confirmPassword'].errors?.required">This field is Required</mat-error>
              <div *ngIf=" registrationForm.controls['confirmPassword'].dirty ">
                <mat-error *ngIf="(registrationForm.value.password !== registrationForm.value.confirmPassword)" style="color: #f44336 ; font-size: 75% ;font-family: Roboto, Helvetica Neue, sans-serif">password and confirm password not matched!</mat-error>
              </div>
          </mat-form-field>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <mat-form-field class="col-4">
            <input matInput placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="registrationForm.controls['firstName'].errors?.required">This field is Required</mat-error>
<!--            <span *ngIf="registrationForm.get('firstName').touched && registrationForm.get('firstName').hasError('required')" class="errors"></span>-->

          </mat-form-field>
          <mat-form-field class="col-4">
            <input matInput placeholder="LastName" formControlName="lastName">
            <mat-error *ngIf="registrationForm.controls['lastName'].errors?.required">This field is Required</mat-error>
          </mat-form-field>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <label>
              <input type="radio" value="Male" formControlName="gender">
              <span>male</span>
            </label>
            <label>
              <input type="radio" value="Female" formControlName="gender">
              <span>female</span>
            </label>
<!--          <mat-error *ngIf="(registrationForm.controls['gender'].errors?.required)=== true ?registrationForm.controls['gender']">This field is Required</mat-error>-->
              <mat-error *ngIf="registrationForm.controls['gender'].errors?.required">This field is Required</mat-error>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <select class="custom-select" formControlName="country" placeholder="Country">
            <option value=" " disabled selected hidden>Choose Country...</option>
            <option *ngFor="let country of countries" [ngValue]="country.country_name">{{country.country_name}}</option>
          </select>
          <mat-error *ngIf="registrationForm.controls['country'].errors?.required">This field is Required</mat-error>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <input type="checkbox" formControlName="checkbox1" id="acceptTerms" class="form-check-input" />
          <label for="acceptTerms" class="form-check-label">I am agree to with the terms and condition</label>
          <mat-error *ngIf="registrationForm.controls['checkbox1'].errors?.required">This field is Required</mat-error>
        </div>
        <div style="text-align: center">
          <button type="submit">Register</button>
<!--          <button  (click)="submitRegistration()">Register</button>-->
        </div>
      </form>
      <pre>{{registrationForm.value | json}}</pre>
<!--      <pre>{{registrationFormTest.value | json}}</pre>-->
    </mat-card>
  </div>
  <div fxFlex="20"></div>
</div>
